{% extends 'crud/base.html' %}

{% block content %}
    <h1>Bienvenido al Sistema de Administración iPhone</h1>
    <p>Este sistema está diseñado para gestionar el inventario y los pedidos de la tienda Apple.</p>
    
    <div style="text-align: center; margin-top: 30px;">
        <img 
            src="https://www.apple.com/newsroom/images/2024/09/get-ready-to-upgrade-to-the-new-iphone-16-apple-watch-and-airpods-lineups/article/geo/Apple-September-2024-new-product-lineups-geo_big.jpg.large.jpg" 
            alt="Imagen de Productos Apple" 
            style="max-width: 100%; height: auto; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.15);"
        >
        <p style="margin-top: 15px; font-style: italic;">Gestiona todos tus productos Apple de manera eficiente.</p>
    </div>
{% endblock %}